<!DOCTYPE html>

{% extends "header.html" %}
<head>
    {% load staticfiles %}
    <link href="{% static 'class.css' %}" rel="stylesheet">
</head>

{% block content %}
        <!-- Navigation bar-->
        <nav class="navbar navbar-expand-sm navbar-custom static-top">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                    </ul>
                </div>
            </div>
        </nav> 

        <div class="container-fluid">
            <div class="row">
                <!-- Navigation bar-->
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <a class="navbar-brand">
                        <h5>Student Web</h5>
                    </a>
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="../static/dashboard.html">
                                    Overview
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../static/class.html">
                                    Class Dashboard
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../static/todo.html">
                                    Deadlines
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#">
                                    Grade Manager
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../static/notes.html">
                                    Note Manager
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../static/settings.html">
                                    Class Settings
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav> 

                <div class="row d-flex offset-md-2 ">
                    <div class="container p-3 mb-2 bg-dark text-white">
                        <div class="row">
                            <div class="col p-3 mb-2 bg-dark text-white">
                                <h3>Current Grade:</h3>
                            </div>
                            <div class="col p-3 mb-2 bg-dark text-white">
                                <h3>Weights:</h3>
                                Assignments | 30%
                                <p>Exams | 40%</p>
                            </div>
                        </div>

                        <h3>Add Grades</h3>
                        <form>
                            <!-- Row1-->
                            <div class="form-row">
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Assignment Name">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Category">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Received Grade">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Max Grade ">
                                </div>
                            </div>
                        </form>
                        <p></p>
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Update Assignment</button>
                    </div>
                </div> 
            </div>
        </div>
{% endblock %}